@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');

html{
    font-family: lato, sans-serif;
}
.row{
    display: flex;
    justify-content: space-between; /*alinea de manera horizontal*/
    padding-top: 1.8rem;
    align-items: center;
   background: #2f2f2f;
    color: white;   
}

.menu a{
    margin: 0;
    color:white;
    text-decoration: none;/**/
    margin-right: 2rem;
}


.footer {
    background-color:#2f2f2f;
}

.container{
    max-width: 100rem; 
    margin-right: auto;
    margin-left: auto;


    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    width: 95%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    
    }

    

.blog{
    margin-top: 1rem;
}

    

.img {
    height: 30rem;
    display: flex;
    align-items: center;
        }


h2{
 text-align: center;
}
    .contenedor {
        width: 95%;
        max-width: 120rem; /** = 1200px; **/
        margin: 0 auto;
    }
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    
    .seccion{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

p{
    line-height: 2rem;
    margin: 1rem;
    }

    
        
.entrada-blog {
        display: flex;
        justify-content: space-between;
    }

.text-blog{
         text-align: center;
    }

    .encabezado{
        font-size: 1.5rem;
    }

    .d-flex{
        display: flex;
        justify-content: space-between;
    }
    
    /*Clase icono*/
    .icono{
        flex-basis: calc(33.33% - 1rem);
    }
    
    .col-3{
        flex-basis: calc(33.33% - 1rem);
    }
    
    .col-2{
        flex-basis: calc(50% - 1rem);
    }
    
    .center{
        text-align: center;
        line-height: 2rem;
    }
    
    .icono h3{
        text-transform: uppercase;
    }
    
    .encabezado-nosotros{
        font-weight: 300;
        text-align: center;
    }
    
    .fw-300{
        font-weight: 300;
    }
    

