
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap');

html{
    font-family: lato, sans-serif;
}
/*Imagen de Fondo de Pantalla*/
.side-header{
    background-image: url(imagenes/img/header.jpg);
    min-height: 40rem;/*Minimo, Restriccion*/
    height: 100vh;
    background-position: center center; 
    background-size: cover; 
    max-height: 70rem;
}

.main{
    background-image: url(imagenes/img/encuentra.jpg);
    min-height: 20rem;
    max-height: 20rem;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.img {
    height: 15rem;
    display: flex;
    align-items: center;
    
}

/*Contenedor*/
.container{
    max-width: 100rem; 
    margin-right: auto;
    margin-left: auto;


    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    width: 95%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}

/*Barra*/
.row{
    display: flex;
    justify-content: space-between; /*alinea de manera horizontal*/
    padding-top: 1.8rem;
    align-items: center;

    color: white;   
}

.inicio{
    background-color:white;
}

/*Titulo*/
.titulo{
    color: #ffff;
    line-height: 4rem; 
    bottom: 2rem;
    font-family: 'Lato', sans-serif;
}
.titulo h1{
    color: #ffff;
    line-height: 4rem; 
    bottom: 2rem;
    font-family: 'Lato', sans-serif;
}

.menu a{
    margin: 0;
    color:white;
    text-decoration: none;/**/
    margin-right: 2rem;
}

/*hover aplicará un estilo cuando el usuario pase el cursor sobre el elemento especificado.*/
nav :hover{
    color:green;
}

/*Encabezado*/

h1{
    color:white;
}

h2{
    text-align: center;
}

p{
    line-height: 2rem;
}

/*Pie de Pagina*/
.footer {
    background-color:#2f2f2f;
}



.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}



.m-left-1 {
    margin-left: 1rem;
}

.h-100 {
    height: 100%;
}

.border-1{
    border: solid 1px #c1c1c1;
}

.card{
    background: #f5f5f5;
}

.card h3{
    font-size: 1.9rem;
    font-weight: 300;
    margin-bottom: 0;
}

.anuncios .img{
    width: 100%;
}

.encabezado{
    font-size: 1.5rem;
}

.color{
    color: #ffffff;
}

.color-green{
    color: #75c50a;
}

/*Utilidades*/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*clase icono-nosotros*/
.d-flex{
    display: flex;
    justify-content: space-between;
}

/*Clase icono*/
.icono{
    flex-basis: calc(33.33% - 1rem);
}

.col-3{
    flex-basis: calc(33.33% - 1rem);
}

.col-2{
    flex-basis: calc(50% - 1rem);
}

.center{
    text-align: center;
    line-height: 2rem;
}

.icono h3{
    text-transform: uppercase;
}

.encabezado-nosotros{
    font-weight: 300;
    text-align: center;
}

.fw-300{
    font-weight: 300;
}

/*Botones*/
.boton-naranja{
    display: block;
    margin-top:  1rem;
    text-decoration: none;
    padding: 1rem;
    font-weight: 600; 
    font-size: 1rem; 
    color: white; 
    background-color: #e09d22fd; /*Color del fondo*/
    width: auto;
    height: auto;
    cursor: pointer;
}

.boton-verde{
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    background-color: #75c50a;
    text-align: center;
}

.tamaño{
    width: 10%;
}

.blog{
    margin-top: 1rem;
}




/** nuestro blog **/

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}
.seccion-inferior .blog {
    flex-basis: 60%;
}
.seccion-inferior .testimoniales {
    flex-basis: calc(30% - 2rem);
}

.entrada-blog {
margin-bottom: 2rem;
margin: 2rem;
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
}
.text-blog{
    text-align: center;
}

.entrada-blog:last-of-type {
margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}
.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a {
color: #000000;
text-decoration: none;
}
.texto-entrada h4 {
margin: 0;
line-height: 1.4;
}
.texto-entrada a::after {
content: '';
display: block;
width: 15rem;
height: .5rem;
background-color: green;
margin-top: 1rem;
}
.texto-entrada span {
color:orange;
}
/*** Testimoniales **/
.testimonial {
background-color: #71B100;
font-size: 1.3rem;
padding: 2rem;
color: white;
border-radius: 2rem;
}
.testimonial  p {
text-align: right;
}
.testimonial blockquote::before {
/*content: '';*/
background-image: url(imagenes/img/comilla.svg);
width: 1rem;
height: 1rem;
position: absolute;
left: -2rem;
}

.testimonial blockquote {
position: relative;
padding-left: 5rem;
font-weight: 300;


 }
 .comilla{
    height: 2rem;
    display: flex;
    align-items: center;
 }
 






